<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.kakao">

    <!-- 권한 획득하기. 안드로이드 문서에서 android.permission.CALL_PHONE 을 찾아내었다. -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login" />
        <activity android:name=".Main" />
        <activity android:name=".MemberList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MemberDetail" />
        <activity android:name=".MemberUpdate" />
        <activity android:name=".MemberAdd" />
        <activity android:name=".util.Album" />
        <activity android:name=".util.Movie"></activity>
    </application>

</manifest>